
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span><a href="dashboard">{{title}}</a></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">

        <mat-icon><a href='/fav'>favorite</a></mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon><a href="/share">share</a></mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
       <a href="/login" >login </a>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <a  href="/register">Register </a>
       </button>

    </mat-toolbar>
  
